<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://kit.fontawesome.com/a2b36221ba.js" crossorigin="anonymous"></script>
  <title><%= title %></title>
</head>


<body>
  <!-- navbar -->
  <nav>
    <div>
      <img class="hatLogo" src="assets/IMGBIN_mad-hatter-top-hat-headgear-png_MdWtBex7.png" alt="">
      <h1>From Cooking to Coding</h1>
    </div>
    <img class="hamburgerMenu" src="assets/iconfinder_menu-alt_134216.png" alt="hamburger menu">
    <ul>
      <li><a class="" href="/">Home</a></li>
      <li><a class="" href="/#journey">The Journey</a></li>
      <li><a class="" href="/gallery">Gallery</a></li>
      <li><a class="" href="/about">About</a></li>
      <li><a class="" href="/contact">Contact</a></li>
    </ul>
  </nav>