<%- include('partials/header') %>
 <!-- gallery -->
 <h2 id="gallery">Gallery</h2>
 <section class="cardContainer">
   <div class="mainCards">
     <img class="galleryImg" src="assets/sunshine.jpg" alt="sunshine ski hill">
     <p class="galleryText">Sunshine ski hill</p>
   </div>
   <div class="mainCards">
     <img class="galleryImg" src="assets/IMG_0012.jpg" alt="tower of babel mountain">
     <p class="galleryText">Tower of babel mountain</p>
   </div>
   <div class="mainCards">
     <img class="galleryImg" src="assets/IMG_1802.jpg" alt="backside of temple mountain">
     <p class="galleryText">Backside of temple</p>
   </div>
   <div class="mainCards">
     <img class="galleryImg" src="assets/IMG_1846.jpg" alt="looking down at morain lake from temple mountain">
     <p class="galleryText">Moraine lake from temple</p>
   </div>
   <div class="mainCards">
     <img class="galleryImg" src="assets/P8050358.jpg" alt="small lakes under a mountain">
     <p class="galleryText">Egypt lakes</p>
   </div>
   <div class="mainCards">
     <img class="galleryImg" src="assets/me_mountains2.jpg" alt="me hiking">
     <p class="galleryText">Hiking Yamnuska</p>
   </div>
 </section>
 <%- include('partials/footer') %>
 