<%- include('partials/header') %> 
 <!-- hero section -->
 <header>
  <div class="headerTransition">
    <img class="headerimage" src="assets/katie-smith-uQs1802D0CQ-unsplash.jpg" alt="cutting board with vegatables layed out">
    <img class="headerimage" src="assets/ian-wong-e0v5Venn_zw-unsplash.jpg" alt="lake surrounded by trees and mountains ">
    <img class="headerimage" src="assets/florian-olivo-4hbJ-eymZ1o-unsplash.jpg" alt="lines of code on a black screen">
  </div>
</header>
<!-- main body -->
<main>
  <hr>
  <h2 id="journey">The Journey</h2>
  <section class="cardContainer">
    <div class="mainCards">
      <h3>The journey begins</h3>
      <img class="mainImg" src="assets/2010.jpg" height="250" width="225" alt="me in a chefs uniform infront of 2010 winter olympic flame">
      <p>Attended cooknig school and cooking for the media during the 2010 winter olympics.</p>
    </div>
    <!-- 3 info cards to be linked to other pages in the future -->
    <div class="mainCards">
      <h3>Chilling in the mountains</h3><img class="mainImg" src="assets/chilling_mountains.jpg" height="250" width="225" alt="sitting back on a rock couch">
      <p>Enjoying the Canadian Rockies. Where I reside and have worked on a ski hill and at a Lodge.</p>
    </div>
    <div class="mainCards"><h3>Learning to code</h3> 
      <img class="mainImg" src="assets/IMG_5861.jpg" height="250" width="225" alt="me in front of a computer coding">
    <p>Learning to code at SAIT's Full Time Web Developer program.</p>
    </div>
  </section>
  </main> 
  <%- include('partials/footer') %>
